<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/about.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Ribeye|Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <title><strong>PET ADOPTION</strong></title>
</head>
<body>
  <div class="container">
  <div class="us">
    <h1 id="team">About us</h1>
    <p>We are a team who decided to find a way dogs can get love and affection from willing and interested people<br>through adoption.</p>
    <p>Ours is to find a home for every dog<br> </p>
  </div>
  <div class="end">
  <img src="unity.jpeg" alt="unity">
  </div>
  </div>
</body>
</html>