<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/contact.css">
  <title>OneKenya</title>
</head>
<body>
  <div class="talk">
  <h2>Let's talk today:</h2>
<img "contacts" src="contact.jpeg" alt="contact image" style=width:200px; height:200px;>

 <form class="text/plain" action="" method="post">

  <div class="form-group">
      <label for="exampleFormControlInput1" id="name">Name</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="your name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1" id="email">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Puppies</option>
      <option>Bitches</option>
      <option>Dogs</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example texts</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="button" name="button" class="btn" id="button">Submit</button>
  </div>
</form>
</div>


<script src="js/jquery-3.3.1.js" charset="utf-8"></script>
<script src="js/contact.js" charset="utf-8"></script>
</body>
</html>